body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../../zimages/webBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 2px solid #ccc;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 3px 3px 20px rgb(173, 173, 173);
    color: white;
}


h2 {
    margin-bottom: 1px;
}

#errMsg {
    color: rgb(249, 46, 46);
}

.AuctionResult {
    border: solid 2px #4ce3d2;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 7px rgb(0, 0, 0);
}

.AI-bid-section {
    border: solid 2px #4ce3d2;
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 7px rgb(0, 0, 0);
}

.auction-info-to-know {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin: 10px auto;
    width: 900px;
}

.auction-info {
    position: relative;
    flex: 1;
    padding: 20px;
    border: solid 2px black;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(to bottom right, #41c2b3c1, #f8f8f8);
}

#important-information,
#auction-scenario {
    word-spacing: normal;
    line-height: 1.25;
}

.scenario {
    width: 850px;
    padding: 20px;
    margin: auto;
    border: solid 2px black;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(to bottom right, #41c2b3c1, #f8f8f8);

}

.auction-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 7px rgb(0, 0, 0);
    background-color: #000000ca;
}

#player-bid {
    border-radius: 8px;
    border: solid;
    padding: 6px 10px;
    margin-top: 10px;
    margin-left: 0px;
}

#player-bid:focus {
    border-color: #4ce3d2;

}

#player-bid:disabled {
    background-color: rgb(145, 145, 145);
}

.players-buttons {
    text-align: center;
}

.reputation-container {
    width: 100%;
    margin: 20px auto;
}

.reputation-bar {
    max-width: 200px;
    margin: 6px auto;
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.reputation-fill {
    height: 100%;
    width: 0%;
    line-height: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    transition: width 3s ease, background-color 0.5s ease;
    border-radius: 20px;
}

.supplier-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 0px;
    gap: 10px;
}

.supplier-container p{
    flex: 1 1 auto;

}

.trust-bar-container {
    flex: 0 0 100px;
    height: 16px;
    background-color: #444444bf;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 180px;
}

.trust-bar-fill {
    height: 100%;
    width: 0%;
    transition: width 2s ease, background-color 0.5s ease;
}

.trust-bar-fill.unknown {
    background-color: rgba(255, 255, 255, 0.704);
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.btns {
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    border: solid 1px;
    padding: 6px 15px;
    cursor: pointer;
    border: solid 1px black;
    background-color: #4ce3d2;
    transition: background-color 0.2s ease;
    font-size: 15px;
    font-weight: 900;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.btns:hover {
    background-color: #40b6a8;
}